.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.actions > div {
  display: flex;
  gap: 20px;
}

.count {
  font-size: 250px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .count {
    font-size: 120px;
  }
}
